<table ng-table="vmd.envelopes" class="table table-striped" show-filter="true">
    <tr ng-class="e.hasContributor(vmd.user.get()) ? 'crossed' : ''" ng-repeat="e in $data" envelope-id="{{e._id}}">
        
        <td title="'Id'">
            <a ui-sref="envelopes.envelope({id: e._id})">{{e._id}}</a></td>
        <td title="'What'">
            {{e.what}}</td>
        <td title="'Who'" filter="{who: 'text'}" sortable="'who.name'">
            <a ui-sref="user({id: e.who.id})">{{e.who.name}}</a></td>
        <td title="'Last Day'" filter="{lastDay: 'text'}" sortable="'lastDay'">
            {{e.lastDay | date : 'yyyy-MMM-dd'}}</td>
        <td title="'Where'" filter="{where: 'text'}" sortable="'where'">
            {{e.where}}</td>
        <td title="'Contributed'" filter="{contributed: 'text'}" sortable="'contributed'">
            <span ng-click="vmd.addContributor(e,vmd.user)" class="btn btn-default" ng-show="!e.hasContributor(vmd.user.get())">Yes</span>
            <span ng-click="vmd.removeContributor(e,vmd.user)" class="btn btn-default" ng-show="e.hasContributor(vmd.user.get())">No</span>
        </td>
    </tr>
</table>