<div class="row">
	<div class="col-md-3">
		<h4>New Envelope</h4>
		<form>
			  <div class="form-group">
			    <label>What</label>
			    <input class="form-control">
			  </div>
			  <div class="form-group">
			    <label>Who</label>
			    <user-select model="vm.who"></user-select>
			  </div>
			    <div class="form-group">
			    <label>When</label>
			    <input class="form-control">
			  </div>
			  <div class="form-group">
			    <label>Last Day</label>
			    <input class="form-control">
			  </div>
			  <div class="form-group">
			    <label>Where</label>
			    <input class="form-control">
			  </div>
			   <div class="form-group">
			    <label>Responsible</label>
			    <user-select model="vm.responsible"></user-select>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
		</form>		
	</div>
</div>
