<table class="table table-striped">
    <thead>
        <tr>
            <th>What</th>
            <th>Who</th>
            <th>Last Day</th>
            <th>Where</th>
            <th>Contributed</th>
        </tr>
    </thead>
    <tbody>
       <tr ng-repeat="envelope in vm.envelopes">
           <td>{{envelope.what}}</td>
           <td>{{envelope.who}}</td>
           <td>{{envelope.lastDay | date : 'MMM dd'}}</td>
           <td>{{envelope.where}}</td>
           <td>X</td>
       </tr>
    </tbody>
</table>