<table class="table table-striped">
    <thead>
        <tr>
            <th>What</th>
            <th>Who</th>
            <th>Last Day</th>
            <th>Where</th>
            <th>Contributed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Birthday</td>
            <td>John Andrews</td>
            <td>April - 1</td>
            <td>Lucia's Desk</td>
            <td><input type="checkbox" value="1"></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td>John Andrews</td>
            <td>April - 1</td>
            <td>Lucia's Desk</td>
            <td><input type="checkbox" value="1"></td>
        </tr>        
        <tr>
            <td>Birthday</td>
            <td>John Andrews</td>
            <td>April - 1</td>
            <td>Lucia's Desk</td>
            <td><input type="checkbox" value="1"></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td>John Andrews</td>
            <td>April - 1</td>
            <td>Lucia's Desk</td>
            <td><input type="checkbox" value="1"></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td>John Andrews</td>
            <td>April - 1</td>
            <td>Lucia's Desk</td>
            <td><input type="checkbox" value="1"></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td>John Andrews</td>
            <td>April - 1</td>
            <td>Lucia's Desk</td>
            <td><input type="checkbox" value="1"></td>
        </tr>                
    </tbody>
</table>