<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">Office Presents</a>
    <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
    </ul>
    <ul class="nav navbar-nav"><li><a ui-sref="user({id: vmd.user.id})">{{vmd.user.name}}</a></li></ul>
    <ul class="nav navbar-nav"><li><a ui-sref="showAs()">Show as: {{vmd.showAs()}}</a></li></ul>
</nav>