<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">Office Presents</a>
    <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
    </ul>
    <ul class="nav navbar-nav"><li><a href="javsacript:void(0)">{{vmd.user.name}}</a></li></ul>
    <ul class="nav navbar-nav"><li><a href="javsacript:void(0)">Show as: {{vmd.mockUser.getShowAs().name}}</a></li></ul>
</nav>