<div class="row">
    <div class="col-md-6">
    <h4>Information</h4>
    <div ng-show="vm.show() === 'ALERT'" class="alert alert-warning" role="alert">Nobody is responsible for the envelope</div>

<table class="table table-striped">
    <tr>
        <td>What</td>
        <td>{{vm.envelope.what}}</td>
    </tr>
    <tr>
        <td>Who</td>
        <td ng-bind-html="vm.envelope.who.id | userLink"></td>
    </tr>
    <tr>
        <td>When</td>
        <td>{{vm.envelope.eventDate | date : 'yyyy MMM dd'}}</td>
    </tr>
    <tr>
        <td>Last Day</td>
        <td>{{vm.envelope.lastDay | date : 'yyyy MMM dd'}}</td>
    </tr>
    <tr>
        <td>Where</td>
        <td>{{vm.envelope.where}}</td>
    </tr>
    <tr>
        <td>Created by</td>
        <td>
        <ng-include ng-show="vm.showAssign() === 'ADMIN'" src="'src/envelopes/envelope/partials/assign.html'"></ng-include>
        <div class="row" ng-show="vm.showAssign() !== 'ADMIN'">
            <div class="col-md-6">{{vm.envelope.responsible.name}}</div>
            <div class="col-md-6">
                <button ng-show="vm.envelope.responsible === undefined || vm.envelope.responsible === null" ng-click="vm.assign()" class="btn btn-primary">Assign it to me</button>
                <button ng-show="vm.envelope.responsible.id === vm.currentUser.get().id" ng-click="vm.remove()" class="btn btn-danger">Remove ME</button>
            </div>
        </div>
        </td>
    </tr>
</table>        
    </div>
    <div class="col-md-6">
        <h4>Contributors</h4>
        <button ng-show="vm.show() === 'CONTRIBUTE'" ng-click="vm.contribute()" class="btn btn-success">Contribute</button>
        <button ng-show="vm.show() === 'REMOVE'" ng-click="vm.removeContibution()" class="btn btn-danger">Remove contribution</button>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
            <tbody>
                <tr ng-repeat="contributor in vm.envelope.contributors"><td>{{contributor.name}}</td></tr>
            </tbody>
        </table>
    </div>
</div>
